  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src="assets/joe.jpeg" alt="Joe" />
            <span></span>
          </div>
          <h2>Joe Joe</h2>
          <p>UX/UI Designer</p>
          <p>joe@joe.com</p>

          <ul class="about">
            <li><span>4,073</span>Up</li>
            <li><span>322</span>Down</li>
            <li><span>200,543</span>Total</li>
          </ul>

          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
              erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
              ligula egestas nulla.
            </p>

            <ul>
              <li><i class="fab fa-facebook"></i></li>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
            </ul>
          </div>
        </div>
        <div class="right__col">
          <nav>
            <ul>
              <li><a href="\">Home</a></li>
              <li><a href="">Photos</a></li>
            </ul>
            <button><%= link_to "Post", posts_new_path %></button>
          </nav>

          <div class="photos">
            <img src="assets/img1.jpg" alt="Photo" />
            <img src="assets/img2.jpg" alt="Photo" />
            <img src="assets/img3.jpg" alt="Photo" />
            <img src="assets/img4.jpg" alt="Photo" />
            <img src="assets/img5.jpg" alt="Photo" />
            <img src="assets/img6.jpg" alt="Photo" />
          </div>
        </div>
      </div>
    </div>
  </body>
